footer{
    background-color: $colorterciario;
    padding: 15px;
    a{
        color: $colorTexto;
        &:hover{
            color: $colorPrimario;
        }
    }
    .redes{
        margin-left: 15px;
        align-items: center;
        .gmail{
            &:hover{
                transform: scale(1.5);
            }
        }
        
        .ig{
            &:hover{
                transform: scale(1.5);
            }
        }
        .fb{
            &:hover{
                transform: scale(1.5);
            }
        }
        .Yt{
            &:hover{
                transform: scale(1.5);
            }
        }     
    }
}

