footer{
    background-color: $colorterciario;
    padding: 15px;
    a{
        color: $colorTenue;
        &:hover{
            color: $colorPrimario;
        }
    }
    .redes{
        margin-left: 15px;
        align-items: center;
        .gmail{
            background-image: url(../img/iconoGmail.png);
            height: 50%;
            padding: 15px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;   
        }
        
        .ig{
            background-image: url(../img/iconoIg.png);
            height: 50%;
            padding: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .fb{
            background-image: url(../img/iconoFb.png);
            height: 50%;
            padding: 25px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .Yt{
            background-image: url(../img/iconoYt.png);
            height: 50%;
            padding: 25px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }     
    }
}

