header{
    background-color: $colorTenue;
    position: fixed;
    z-index: 2;
    margin-top: -150px;
    list-style: none;
    color: white;
    .announce{
        a{
            color: $colorPrimario;
            &:hover{
                color: $colorPrimario;
                transform: scale(1.3);
            }
        }
    }
    .logo{
        color: black;
        text-shadow: 0 0 0.2em $colorPrimario, 0 0 0.2em $colorPrimario;
        &:hover{
            color: white;
        }
    }
    .navbar{
        background-color: $colorterciario;
        button{
            &:hover{
                color: $colorPrimario;
            }
        }
    }
    
    .boxMenuList{
        background-color: $colorterciario;
        .menuList{
            li{
                list-style: none;
               a{
                    background-color: $colorSecundario;
                    color: $colorPrimario;
                
                    &:hover{
                    background-color: $colorTenue;
                    }
                }
            }
        }
    }
}

.carrito {
    min-width: 250px;
    max-width: 600px;
    height: auto;
    position: fixed;
    top: 135px;
    right: 0;
    z-index: 9999;
}
