.tarjeta{
    border: 2px solid;
    border-color: $colorPrimario;
    border-radius: 15px;
    img{
        background-color: $colorSecundario;
        border: 0px;
    }
    button{
        color: $colorPrimario;
        background-color: $colorterciario;
        border-radius: 15px;
        padding: 3px;
        &:hover{
            background-color: rgb(15,15,15);
            box-shadow: 3px 3px 5px 0px rgba(226, 0, 196, 0.7);
            a{
                color: white;
            }
        }
    }
}