@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&display=swap');
*{
    text-decoration: none;
}
a{
    text-decoration: none;
}
@import "variables";
@import "tarjeta";
@import "header";
@import "footer";



body{
    background-color: black;
    font-family: 'Fira Sans Condensed', sans-serif;
    overflow-x: hidden;
}

main{
    a{
        text-decoration: none;
        color: $colorPrimario;
    }
    margin-top: 300px;
    .noti{
        background-color: $colorSecundario;
        height: 20vh;
        overflow: hidden;
    }
}

.filtroProductos{
    .btn{
        border: 1px solid;
        &:hover{
            border-color: $colorPrimario;
            color: $colorPrimario;
        }
    }
}


fieldset{
    background-color: $colorterciario;
    padding: 10px;
    .lineForm{
        color: rgba(100,100,100,1);
        font-weight: bold;
    }
    #submit{
        color: $colorPrimario;
    }
    #reset{
        color: $colorPrimario;
    }
}


